<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>Label</key>
    <string>unison_sync</string>
    <key>ProgramArguments</key>
    <array>
      <string>/Users/dpree/bin/unison_sync.sh</string>
    </array>
    <key>StandardOutPath</key>
    <string>/Users/dpree/Library/Logs/unison_sync.log</string>
    <key>StandardErrorPath</key>
    <string>/Users/dpree/Library/Logs/unison_sync.err</string>
    <key>LowPriorityIO</key>
    <true/>
    <key>Nice</key>
    <integer>1</integer>
    <key>StartInterval</key>
    <integer>3600</integer>
  </dict>
</plist>